body
{
  background-color: lightblue;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
}

ul.navbar
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Add this line to make the navbar fixed */
  width: 100%;
}

ul.navbar li
{
  float: left;
}

ul.navbar li a
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navbar li.right
{
  float: right;
}

ul.navbar li a:hover
{
  background-color: red;
}

#welcomeMessage
{
  float: right;
}

p
{
  font-size: 20px;
  text-align: center;
}

colour-text
{
  color: red;
}

.companyLogo
{
  background-image: url("img/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 20px;
  display: flex;
  align-items: center;
}

.companyLogo h1 
{ 
  text-align: center;
  padding: 10px 0; 
  max-width: fit-content; 
  max-height: fit-content; 
  background: rgba(230, 227, 255, 0.5);
  margin: 0 auto;
}

table
{
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  border: 1px solid #333;
}

th, td
{
  border: 1px solid #333;
  padding: 8px;
  text-align: center;
}

th
{
  background-color: #333;
  color: white;
}

tr:nth-child(even)
{
  background-color: #f2f2f2;
}

/* Style for rows that need attention */
tr.needs-attention
{
  font-weight: bold;
  color: red;
}

.popup
{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup-content
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style for the close button */
.close-button
{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Style for the Pay button */
.pay-button
{
  display: block;
  margin-top: 10px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

/* Style for the custom modal dialog */
.custom-modal
{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.custom-modal-content
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

 /* Style for the Yes and No buttons in the modal */
 .modal-buttons
{
  margin-top: 20px;
}

.modal-buttons button
{
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.yes-button
{
  background-color: #4CAF50;
  color: white;
}

.no-button
{
  background-color: #FF0000;
  color: white;
}